html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
div.sizebox {
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 400px;
}
textarea {
  resize: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

div {
  box-sizing: border-box;
}

.headerbox {
  position: absolute;
  height: 40px;
  width: 100%;
  z-index: 10;

  background: #f0f0f0;

  background: linear-gradient(to bottom,  #ffffff 0%,#f8f8f8 100%);
  background: -moz-linear-gradient(top,  #ffffff 0%, #f8f8f8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f8f8f8));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%);
  
-webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

div.hlayout{
  display: -webkit-flex;
  -webkit-flex-direction: row;
  
  display: flex;
  flex-direction: row;
  
  align-content:flex-start;
  -webkit-align-content:flex-start;
  
  /* old style or deprecated style */
  display: -ms-flexbox;
  -ms-flex-direction: row;
}
div.hlayout > *{
  position:relative;
}

.headerbox  h1 {
  position: absolute;
  font-weight: bold;
  font-size: 18px;
  color: #404040;
}
.bodybox {
  position: absolute;
  top: 46px;
  bottom: 90px;
  left: 5px;
  right: 5px;
}
.vbodybox {
  position: absolute;
  top: 43px;
  bottom: 90px;
  left: 2px;
  right: 2px;
  background: white;

background: -moz-linear-gradient(-45deg, #f0f0f0 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f0f0f0), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, #f0f0f0 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -ms-linear-gradient(-45deg, #f0f0f0 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(135deg, #f0f0f0 0%,#ffffff 100%); /* W3C */
}
.vtoolbar {
  left:5px;
  right:5px;
  bottom:5px;
  height:55px;
  position: absolute;
}

.inputbox {
  width: 50%;
  height: 100%;
  -webkit-flex: 1 1 auto ;
  flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  
  background: #f0f0f0;

  background: linear-gradient(to bottom,  #f0f0f0 0%,#f8f8f8 100%);
  background: -moz-linear-gradient(top,  #f0f0f0 0%, #f8f8f8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#f8f8f8));
  background: -webkit-linear-gradient(top,  #f0f0f0 0%,#f8f8f8 100%);
  background: -ms-linear-gradient(top,  #f0f0f0 0%,#f8f8f8 100%);
}

.dividerbox {
  min-width: 48px;
  height: 100%;
}
.dividerbox > button{
  position: absolute;
  width: 40px;
  height: 40px;
  min-width: 40px;
  margin-left: 0;
  left: 4px;
  font-size:24px;
  padding: 0;'
}
.encodeArrow {
  top: calc(50% - 50px);
}
.decodeArrow {
  top: calc(50% + 10px);
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

button.decode{
  color: #f00000;
}
.vtoolbar > button {
  font-size:13px;
}

.padding {
  top:5px;
  left:5px;
  right:5px;
  bottom:5px;
  position: absolute;
}

.title {
  top: 3px;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
}

div.headeroptions{
  position: absolute;
  height:100%;
  right:0;
  top:0;
}

div.headeroptions > div {
  padding: 0 3px;
  border-left:1px solid #DDD;
}

.selectCode {
}
.selectProtect {
}
.inputPassword {
  
}
.languageDiv {
  width:23px;
  height:38px;
 padding: 3px;
 margin-top:1px;
 background: rgba(0,0,0,0.1);
 border-radius: 3px;
 cursor: pointer;
 text-align: right;
}
select {
  width: 80px;
  height: 20px;
  padding: 0;
}
.selectProtect > select {
  width: 60px;
  min-width: 60px;
}
input[type="password"] {
  width: 80px;
  height: 20px;
}

.outdatedbrowser {
    position: absolute;
    top: 40px;
    left: 0px;
    right: 5px;
    width: 100%;
    height: 90%;
}

.languageDiv > img {
  opacity:0.5;
}
.languageDiv > img.currentLan {
   opacity:1;
   border: 1px solid #fff;
}

.aboutDiv {
  position:absolute;
  right:10px;
  bottom:30px;
  text-align: right;
}
.downloadDiv {
  position:absolute;
  right:10px;
  bottom:5px;
  text-align: right;  
}
.aboutDiv img {
  height:13px
}
.error {
  width: 132px;
  position: absolute;
  text-align: center;
  top: 20px;
}