html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body.viewerbody {
  font-family: Helvetica, Arial, Freesans, clean, sans-serif;
background: -moz-linear-gradient(-45deg, #ffffff 0%, #f0f0f0 100%); /* FF3.6+ */
background: -webkit-linear-gradient(-45deg, #ffffff 0%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
background: -ms-linear-gradient(-45deg, #ffffff 0%,#f0f0f0 100%); /* IE10+ */
background: linear-gradient(135deg, #ffffff 0%,#f0f0f0 100%); /* W3C */
}
.markdown {
  overflow-y: auto;
  padding: 12px;
  background: #FFFFFF;
  
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

div.sizebox {
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 360px;
}
.padding > textarea {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  resize: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
textarea:-ms-input-placeholder {
  color: #afafaf;
}
div {
  box-sizing: border-box;
}

.headerbox {
  position: absolute;
  height: 40px;
  width: 100%;
  z-index: 10;

  background: #f0f0f0;

  background: linear-gradient(to bottom,  #ffffff 0%,#f8f8f8 100%);
  background: -moz-linear-gradient(top,  #ffffff 0%, #f8f8f8 100%);
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#f8f8f8 100%);
  
-webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

div.hlayout{
  display: -webkit-flex;
  -webkit-flex-direction: row;
  
  display: flex;
  flex-direction: row;
  
  align-content:flex-start;
  -webkit-align-content:flex-start;
  
  /* old style or deprecated style */
  display: -ms-flexbox;
  -ms-flex-direction: row;
}
div.hlayout > *{
  position:relative;
}
div.viewerbox{
  display: -webkit-flex;
  -webkit-flex-direction: column;
  
  display: flex;
  flex-direction: column;
  
  align-content:flex-start;
  -webkit-align-content:flex-start;
  
  align-items:center;
  -webkit-align-items:center;
  
  /* old style or deprecated style */
  display: -ms-flexbox;
  -ms-flex-direction: column;
}
div.viewerbox > *{
  position:relative;
}
div.viewerpassbox {
text-align: center;
line-height: 40px;
height: 150px;
}

.headerbox  h1 {
  position: absolute;
  font-size: 18px;
  color: #404040;
  display: inline;
  padding-left: 8px;
  padding-right: 8px;
  margin: 8px 0;
}
.bodybox {
  position: absolute;
  top: 46px;
  bottom: 5px;
  left: 5px;
  right: 5px;
}
.vbodybox {
  position: absolute;
  top: 43px;
  bottom: 5px;
  left: 2px;
  right: 2px;
  background: white;

background: -moz-linear-gradient(-45deg, #f0f0f0 0%, #ffffff 100%); /* FF3.6+ */
background: -webkit-linear-gradient(-45deg, #f0f0f0 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -ms-linear-gradient(-45deg, #f0f0f0 0%,#ffffff 100%); /* IE10+ */
background: linear-gradient(135deg, #f0f0f0 0%,#ffffff 100%); /* W3C */
}
.vtoolbar {
  left:5px;
  right:5px;
  bottom:5px;
  height:55px;
  position: absolute;
}

.inputbox {
  width: 50%;
  height: 100%;
  -webkit-flex: 1 1 auto ;
  flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  
  background: #f0f0f0;

  background: linear-gradient(to bottom,  #f0f0f0 0%,#f8f8f8 100%);
  background: -moz-linear-gradient(top,  #f0f0f0 0%, #f8f8f8 100%);
  background: -webkit-linear-gradient(top,  #f0f0f0 0%,#f8f8f8 100%);
  background: -ms-linear-gradient(top,  #f0f0f0 0%,#f8f8f8 100%);
}

.tabbtn {
  padding:0;
  margin:  0 8px;
  cursor: default;
  display: inline;
  
}

.linkbtn {
  color: #15c;
  cursor: pointer;
}
.linkbtn::after {
  padding: 2px;
    content: url(chain.png);
}
.linkbtn:hover {
  border-bottom: solid 1.5px #15c;
}
.dividerbox {
  min-width: 48px;
  height: 100%;
}
.dividerbox > button{
  position: absolute;
  width: 40px;
  height: 40px;
  min-width: 40px;
  margin-left: 0;
  left: 4px;
  font-size:24px;
  padding: 0;'
}
.encodeArrow {
  top: calc(50% - 50px);
}
.decodeArrow {
  top: calc(50% + 10px);
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.encodeMarkdown{
  position: absolute;
  font-size: 10px;
  right: 4px;
  bottom: 4px;
  line-height: 12px
}
.markdownBtn {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 12px;
  min-width: 0;
  width: 24px;
  height: 24px;
  padding: 0;
  line-height: 0;
}
button.decode{
  color: #f00000;
}
.vtoolbar > button{
  font-size:13px;
  min-width: 0;
}

.padding {
  top:5px;
  left:5px;
  right:5px;
  bottom:5px;
  position: absolute;
}

.title {
  top: 3px;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
}

div.headeroptions{
  position: absolute;
  height:100%;
  right:0;
  top:0;
}

div.headeroptions > div {
  padding: 0 3px;
  border-left:1px solid #DDD;
}
label.disabled {
  color: #afafaf;
}

.selectCode {
}
.selectProtect {
}
.inputPassword {
  
}
.languageDiv {
  width:23px;
  height:38px;
 padding: 3px;
 margin-top:1px;
 background: rgba(0,0,0,0.1);
 border-radius: 3px;
 cursor: pointer;
 text-align: right;
}
select {
  width: 80px;
  height: 20px;
  padding: 0;
}
.selectProtect > select {
  width: 60px;
  min-width: 60px;
}
input[type="password"] {
  width: 80px;
  height: 20px;
}

.outdatedbrowser {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 90%;
    border: 0;
}

.languageDiv > img {
  opacity:0.5;
}
.languageDiv > img.currentLan {
   opacity:1;
   border: 1px solid #fff;
}

.aboutDiv {
  position:absolute;
  right:16px;
  bottom:10px;
  text-align: right;
}
.downloadDiv {
  position:absolute;
  right:10px;
  bottom:5px;
  text-align: right;  
}
img.dart {
  height:13px
}
.errorpos {
  width: 132px;
  position: absolute;
  text-align: center;
  top: 20px;
}
#adDiv {
  position:absolute;
  left:5px;
  right:5px;
  max-width:728px;
  bottom:0;
  overflow:hidden;
}

a.helpicon{
display: inline-block;
width: 16px;
height: 16px;
background-image: url("question.png");
transform: translate(0,2px);
}